
  /* font-family: 'Roboto', ;
    font-family: 'Montserrat', ;*/

body {
  margin: 0px;
}    

header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 508px;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/headerimg1.png);
  background-repeat: no-repeat, repeat;
  background: cover;
  position: relative;
  margin: 0px;
  

}

.icons {
  display: flex;
  justify-content: flex-end;
  height: 60px;
  padding-top: 100px;
  padding-right: 30px;
}  

.icon {
  width: 20px;
  height: 20px;
  padding: 8px;
  border: 3px solid #FFFFFF;
  border-radius: 50%;
  opacity: 1;
  margin-right: 5px;
}

.text-in-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
 
  width: 90%;
}

.small-header {

display: flex;
width: 70%;
align-items: flex-start;
justify-content: space-between;
margin-top: 30px;
}
  
.opacity {
  opacity: 60%;
}



h3 {
  margin: 0px;
}

header, h1, h3 {
  color: #ffffff ;
  font-family: 'Montserrat';
  font-size: 40px;
  text-align: left;
} 

.style-heading {
  
  font-weight: bold;
  top: 196px;
  left: 41px;
  width: 212px;
  height: 95px;
  opacity: 1;
  margin-top: 0px;
  margin-bottom: 5px;
}
 .small-header, h5 {

 }

header, h5 {
color:#ffffff ;
font-family: 'Roboto';
font-size: 24px;
margin: 0px;
}

header, h5 {
  font-size: 13px;
}

.bold {
  font-weight: bold;
  font-size: 25px;
}

.profile-pic {
 
  height: 162px;
  width: 162px;
  border-radius: 50%;
  border: 3px white solid;
  margin-right: 30px;
  margin-top: 35px;
 
}


figure {
  width: 60px;
  display: flex;
  align-items: center;
}

.line {
  width: 70px;
  height: 4px;
  background: red;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: red;
  margin-left: -3px;
}